<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>D3B2C822-94DB-D866-5429-D738B1C82533</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
